* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

li a {
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9e9e9;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a {
  color: #00a8c7;
  width: 100%;
}

/* section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}  */
h1 {
  font-size: xx-large;
}

main {
  background-color: black;
}

header {
  background-image: url("./img/hackerr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin-bottom: 10rem;
}

.header-sec {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-sec h1 {
  margin-bottom: 10rem;
}

p {
  color: white;
}

h1 {
  color: white;
  font-size: 6rem;
}

h2 {
  color: white;
  text-align: center;
  font-size: xx-large;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.container1 {
  text-align: right;
  padding-right: 50px;
  font-size: medium;
  padding-bottom: 50px;
}

footer {
  background-color: black;
}

.container3 {
  text-align: left;
  font-size: medium;
}

.container2 {
  margin-left: 5rem;
}

.container4 {
  text-align: right;
  padding-right: 50px;
  font-size: medium;
  padding-bottom: 50px;
}

.container5 {
  font-size: medium;
}

footer {
  text-align: center;
  font-size: large;
  padding-bottom: 20px;
  background-color: #00a8c7;
  padding-top: 20px;
}

.photo2 {
  width: 40rem;
  height: 20rem;
}

.html-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.html-sec p {
  margin-top: 2rem;
}

.js-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.js-sec p {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
}

.js-sec img {
  margin-right: 5rem;
}

.php-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.php-sec p {
  margin-top: 5rem;
}

.php-sec img {
  margin-left: 5rem;
}

.sql-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sql-sec img {
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.sql-sec p {
  margin-left: 5rem;
}
